
body{
    margin: auto;
    margin-top: min(3vw, 35px);
    /* height: 100vh; */
    width: min(1350px, 95vw);
    color: rgb(19, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Brygada 1918', serif;
}

header{
    width: 100%;
    border-bottom: 1px solid rgba(19,17,17, 0.329);
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.splash-image{
  width: min(1000px, 85vw);
  height: min(800px, 60vh);
  border-left: 1px solid rgba(19,17,17, 0.329);
  border-right: 1px solid rgba(19,17,17, 0.329);

}

.skills-bio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-container, .bio, .portfolio-section{
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(19,17,17, 0.329);
  padding: 15px;
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-item{
  width: 375px;
  margin: 0px 15px 20px 15px;
}
.item-header{
  display: flex; 
  align-items: center;
  font-style: italic;
  margin-bottom: 15px;
}

.portfolio-item img{
  width: 100%;
  cursor: pointer;

}

.portfolio-item img:hover{
  transform: scale(1.02);
  transition: transform 350ms;
}

.bio p{
  margin: 0 auto;
  width: 70%;
  font-size: 18px;
  font-weight: 70;
  margin-bottom: 1.25em;
  text-align: center;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.skills > div{
  padding: 1.05em 1.05em;
}

#first, #second{
  border-bottom: 1px solid rgba(19, 17, 17, 0.20);
  border-right: 1px solid rgba(19,17,17, 0.20);

}

#third{
  border-bottom: 1px solid rgba(19,17,17, 0.20);
  margin-right: 1px;
}

#fourth{
  border-right: 1px solid rgba(19,17,17, 0.20);
}



#fifth{

}

.yo{
  display: flex;
}

.yo sup{
  font-style: italic;
}
.icons svg{
  transition: transform 350ms;
  cursor: pointer;
}
.icons svg:hover {
  transform: scale(1.1);
  transition: transform 350ms;

}

.skill-item{
  width: fit-content;
  flex-direction: column;
}

.skill-item-header{
  text-align: center;
}

.icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.icons > svg{
  width: 60px;
  margin: 7px;
}

.tabs-list{
  display: flex;
  justify-content: space-around;
  row-gap: 15px;
}



h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 35px;
}

h2{
  font-size: 35px;
  margin-bottom: 20px;
}

h3{
  font-size: 20px;
  margin-right: 15px;
}

.page-title{
    width: 350px;
    height:fit-content;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}
b{
  font-style: italic;
  font-weight: 500;
  color: rgb(255, 0, 55);  
}
sub{
    font-family: 'Brygada 1918', serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: right;
}

/* Hamburger Menu */

input {
  display: none;
}

.open, .open:before, .open:after{
  background-color: rgb(19, 17, 17);
  width: 25px;
  height: 3px;
  display: block;
  position: relative;
}
.open{
    top: 8px;
    cursor: pointer;
}

.open:before, .open:after{
    content: "";
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:before {
  top: -8px;
}

.open:after {
  top: 4px;
}

.menuOpen {
  width: 20px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(19, 17, 17);
}

.menu label {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: 'Brygada 1918', serif;
  text-transform: uppercase;
  padding: 10px 0;
}

.menu ul li a:hover {
  color: rgb(19, 17, 17);
}

.menu ul li:hover {
  background: white;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

